@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #0063DC;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.dashboard .container {
    background-color: #fff;
    width: 700px;
    border-radius: 10px;
    height: 75vh;
}

.container header {
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.container header p {
    color: #ccc;
}

.dashboard header p span {
    color: #0063DC;
    font-weight: 500;
}

.dashboard header .right {
    display: flex;
    align-items: center;
}

.dashboard header .right .filter-type {
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 4px;
    color: #333;
    margin-right: 1rem;
    padding: 0.3rem 0.4rem;
}

.dashboard header .right button {
    color: #0063DC;
    outline: 0;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.dashboard header .right .refresh-icon,
.dashboard header .right .down-icon {
    color: #ccc;
    margin-right: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.dashboard header .right .down-icon {
    font-size: 1.5rem;
    transition: all 0.2s;
}

.dashboard header .right .down-icon.active {
    transform: rotate(180deg);
}

.dashboard .container .filter{
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    display: none;
    cursor: pointer;
}

.dashboard .container .filter.active {
    display: flex;
    height: 40px;
}

.dashboard .container .filter span.active{
    color: #0063DC;
}

.messages , .status{
    padding: 1rem;
    height: calc(80vh - 70px);
    width: 100%;
    overflow: auto;
}

.messages.active, .status.active {
    height: calc(80vh - 110px);
}

/* messages */
.messages .dateMessage .date {
    display: flex;
    justify-content: center;
}

.messages .dateMessage .date span {
    font-size: 0.8rem;
    margin: 1rem 0;
    background-color: #0063DC;
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
}

.messages .message {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 0.5rem;
    align-items: center;
}

.messages .message.right {
    grid-template-columns: 30% 70%;
}

.messages .message.left .msg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messages .message.right .msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.messages .message .msg .msg-text {
    width: fit-content;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 6px;
}

.messages .message.right .msg .msg-text {
    background-color: #ccc;
}

.messages .message .msg-profile {
    width: 35px;
    height: 35px;
    background-color: #0063DC;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.messages .message.left .msg-profile {
    margin-right: 0.5rem;
}

.messages .message.right .msg-profile {
    margin-left: 0.5rem;
}


.msg-text .expand {
    display: flex;
    justify-content: flex-end;
}

.expand .expand-text {
    color: #0063DC;
    text-decoration: underline;
    margin-right: 0.5rem;
    cursor: pointer;
}

.msg-text span {
    font-size: 0.7rem;
    color: #333;
    font-weight: 600;
}

.msg-text span i {
    font-size: 0.8rem;
    cursor: pointer;
}

.msg-text .userDetails {
    margin-top: 0.5rem;
    display: none;
}

.msg-text .userDetails.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.msg-text .userDetails > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg-text .userDetails > div i{
    cursor: pointer;
}

.msg-text .userDetails > div .spam {
    color: #dc143c;
}

.msg-text .userDetails > div .phone {
    color: #0063DC;
}

.msg-text .userDetails > div .house {
    color: #006466;
}

/* .msg-text .userDetails > span {
    font-size: 0.85rem;
    font-weight: 500;
    color: #333;
} */

/* 
.msg-text .userDetails > div .phone {
    margin-right: 1rem;
}

.msg-text .userDetails .phone,
.msg-text .userDetails .spam {
    font-size: 1.2rem;
}

.msg-text .userDetails .phone {
    color: #0063DC;
}

.msg-text .userDetails .spam {
    color: #dc143c;
} */

/* status */
.status > p {
    text-align: center;
    color: #0063DC;
    font-size: 1.3rem;
}

.status form .btn.disable {
    background-color: #3389f1;
    pointer-events: none;
}

.status form .btn:hover{
    background-color: #0b58b6;
}

.status form .success-msg {
    background-color: #19bb19;
    color: #0b630b;
    text-align: center;
    padding: 0.2rem 0;
    border-radius: 4px;
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    animation: scale 0.3s forwards;
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
}

::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;    
}

@media screen and (max-width: 768px) {
    .dashboard .container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .dashboard {
        display: block;
    }
    .dashboard .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .alert {
        width: 100%;
        height: 60px;
        display: block;
        padding: 0.3rem;
        top: -60px;
    }

    .times-icon {
        right: 0.5rem;
    }

    .messages {
        height: calc(85vh - 70px);
    }

    .messages .message {
        grid-template-columns: 80% 20%;
    }
    
    .messages .message.right {
        grid-template-columns: 20% 80%;
    }
}