@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #0063DC;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.chat .container {
    background-color: #fff;
    width: 700px;
    /* padding: 1rem; */
    border-radius: 10px;
    height: 75vh;
}

.container header {
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.container header p {
    color: #ccc;
}

header p span {
    color: #0063DC;
    font-weight: 500;
}

header .right button {
    color: #ccc;
    outline: 0;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.content .messages {
    padding: 1rem;
    height: calc(60vh - 70px);
    overflow: auto;
}

.content .messages .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message .msg {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.message .msg  .msg-profile {
    background-color: #0063DC;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.message .msg.right .msg-profile {
    margin-left: 0.5rem;
}

.message .msg.left .msg-profile  {
    margin-right: 0.5rem;
}

.message .msg .msg-text {
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-radius: 5px;
    font-weight: 500;
}

.message .msg.right .msg-text {
    background-color: #ccc;
}

.content .send {
    height: 15vh;
    margin: 0.5rem;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* padding: 0.5rem; */
}

.send .type {
    height: 32px;
}

.send select {
    margin: 0.5rem;
    border: 0;
    outline: 0;
    width: 80px;
    color: #0063DC;
    font-size: 0.85rem;
}

.send .type {
    border-bottom: 1px solid #ccc;
}

.send .type-msg {
    width: 100%;
    height: calc(15vh - 32px);
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.send .type-msg input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #333;
}

.send .type-msg button {
    margin-left: 1rem;
    background-color: #0063DC;
    padding: 0.35rem 0.8rem;
    border-radius: 5px;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
}

::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;    
}