@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #0063DC;
}

.alert {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.alert a {
    color: #0063DC;
    text-decoration: underline;
}

.alert.display {
    top: 0;
}

.times-icon {
    position: absolute;
    right: 2rem;
    font-size: 1.45rem;
    color: #dc143c;
    cursor: pointer;
}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.chat .container {
    background-color: #fff;
    width: 700px;
    border-radius: 10px;
    height: 75vh;
}

.container header {
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.container header p {
    color: #ccc;
}

.chat .container header p span {
    color: #0063DC;
    font-weight: 500;
}

.chat .container header .right {
    display: flex;
    align-items: center;
}

.chat .container header .right button {
    color: #0063DC;
    outline: 0;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.chat .container header .right .refresh-icon {
    color: #ccc;
    margin-right: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.content .messages {
    padding: 1rem;
    height: calc(60vh - 70px);
    width: 100%;
    overflow: auto;
}

.messages .dateMessage .date {
    display: flex;
    justify-content: center;
}

.messages .dateMessage .date span {
    font-size: 0.8rem;
    margin: 1rem 0;
    background-color: #0063DC;
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
}

.messages .message {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 0.5rem;
    align-items: center;
}

.messages .message.right {
    grid-template-columns: 30% 70%;
}

.messages .message.left .msg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messages .message.right .msg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.messages .message .msg .msg-text {
    width: fit-content;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 6px;
}

.messages .message.right .msg .msg-text {
    background-color: #ccc;
}

.messages .message .msg-profile {
    width: 35px;
    height: 35px;
    background-color: #0063DC;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.messages .message.left .msg-profile {
    margin-right: 0.5rem;
}

.messages .message.right .msg-profile {
    margin-left: 0.5rem;
}

.msg-text span {
    display: block;
    text-align: right;
    font-size: 0.7rem;
    color: #333;
    font-weight: 600;
}

.msg-text span i {
    font-size: 0.8rem;
    cursor: pointer;
}

.content .send {
    height: 15vh;
    margin: 0.5rem;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* padding: 0.5rem; */
}

.send .type {
    height: 32px;
}

.send select {
    margin: 0.5rem;
    border: 0;
    outline: 0;
    width: 80px;
    color: #0063DC;
    font-size: 0.85rem;
}

.send .type {
    border-bottom: 1px solid #ccc;
}

.send .type-msg {
    width: 100%;
    height: calc(15vh - 32px);
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.send .type-msg input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #333;
}

.send .type-msg button {
    margin-left: 1rem;
    background-color: #0063DC;
    padding: 0.35rem 0.8rem;
    border-radius: 5px;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.send .type-msg button.disable {
    pointer-events: none;
    background-color: #3389f1;
}

::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
}

::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;    
}

@media screen and (max-width: 768px) {
    .chat .container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .chat {
        display: block;
    }
    .chat .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .alert {
        width: 100%;
        height: 60px;
        display: block;
        padding: 0.3rem;
        top: -60px;
    }

    .times-icon {
        right: 0.5rem;
    }

    .content .messages {
        height: calc(85vh - 70px);
    }

    .content .send {
        margin: 0;
        border: 0;
        border-top: 1px solid #ccc;
        border-radius: 0;
        box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.2);
    }

    .messages .message {
        grid-template-columns: 80% 20%;
    }
    
    .messages .message.right {
        grid-template-columns: 20% 80%;
    }
}